
.App {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 2%;
  background-size: cover;
}
.container {
  border: dotted;
  border-radius: 20px;
  background-color: lavender;
}


